@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul-li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Book.eot");
  src: local("Gotham Book"), local("Gotham-Book"), url("/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Gotham-Book.woff2") format("woff2"), url("/fonts/Gotham-Book.woff") format("woff"), url("/fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad Pro";
  src: url("/fonts/MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("/fonts/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/MyriadPro-Regular.woff2") format("woff2"), url("/fonts/MyriadPro-Regular.woff") format("woff"), url("/fonts/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/OpenSans-Regular.woff2") format("woff2"), url("/fonts/OpenSans-Regular.woff") format("woff"), url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff"), url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed-Regular.eot");
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url("/fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("/fonts/RobotoCondensed-Regular.woff") format("woff"), url("/fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gotham";
}

body._lock {
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #222222;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}

.wrapper {
  width: 1115px;
  margin: 0 auto;
}

.header {
  font-family: "Myriad Pro";
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px #222222;
          box-shadow: 0 0 10px #222222;
}
@media (max-width: 767px) {
  .header {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .header {
    font-size: calc(17px + 3 * (100vw / 1115));
  }
}

.header__flex {
  margin: 2.1ex 0 1.45ex 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__flex img {
  position: relative;
  z-index: 15;
  height: 70px;
}

.header__menu {
  margin: 0.6em 0 0 0;
  -ms-flex-preferred-size: 73.5%;
      flex-basis: 73.5%;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.span {
  color: #ffffff;
  padding: 0 10px 26.5px 10px;
  border-bottom: 6px solid transparent;
  -webkit-transition: all 500ms ease-out 50ms;
  transition: all 500ms ease-out 50ms;
}

.span:hover {
  color: #11749e;
  border-bottom: 6px solid #11749e;
}

.exe {
  color: #11749e;
  border-bottom: 6px solid #11749e;
}

.header__networks {
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__networks a {
  margin: 0 0.3em;
  color: #ffffff;
  -webkit-transition: all 500ms ease-out 50ms;
  transition: all 500ms ease-out 50ms;
}

.header__networks a:hover {
  color: #11749e;
}

.header__line {
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid;
  opacity: 0.38;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 9em;
  background-image: url(/img/header.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  background-attachment: fixed;
}

.home__heading {
  line-height: 1.2;
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #f5f5f5;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 767px) {
  .home__heading {
    font-size: calc(91.56px + 103.768 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .home__heading {
    font-size: calc(91.56px + 61.04 * (100vw / 1115));
  }
}

.home__heading.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.home__subtitle {
  line-height: 51px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.74em;
  color: #11749e;
  text-align: center;
  margin: -0.5em 0 0 0;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 767px) {
  .home__subtitle {
    font-size: calc(17px + 13.26 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .home__subtitle {
    font-size: calc(17px + 7.8 * (100vw / 1115));
  }
}

.home__subtitle.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 800ms;
  transition: all 800ms ease-out 800ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.home__down {
  padding: 3.3em 0 0em 0;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.home__down.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 1300ms;
  transition: all 800ms ease-out 1300ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.home p {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0 0 1.3em 0;
}

.home__arrow {
  margin: 0 auto;
  width: 65px;
  height: 65px;
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: relative;
  -webkit-animation: up-down 900ms ease infinite alternate;
          animation: up-down 900ms ease infinite alternate;
}

.home__arrow:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.arrow {
  width: 13px;
  height: 13px;
  border-top: 3.5px solid #ffffff;
  border-right: 3.5px solid #ffffff;
  margin: 23px auto;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.w {
  background-color: #11749e;
  text-align: center;
  padding: 6em 0 8em 0;
}

.w__header {
  opacity: 0;
}

.w__header.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 100ms;
  transition: all 800ms ease-out 100ms;
}

.w__header p {
  font-family: "Roboto Condensed";
  opacity: 0.18;
  line-height: 210px;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 767px) {
  .w__header p {
    font-size: calc(148.32px + 168.096 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .w__header p {
    font-size: calc(148.32px + 98.88 * (100vw / 1115));
  }
}

.w__header h2 {
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  margin: -3.8em 0 0 0;
}
@media (max-width: 767px) {
  .w__header h2 {
    font-size: calc(22.56px + 25.568 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .w__header h2 {
    font-size: calc(22.56px + 15.04 * (100vw / 1115));
  }
}

.w__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9em 0 0 0;
}

.w__element {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 1.5em;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.w__element:first-child {
  margin: 0 1.5em 0 0;
}

.w__element:nth-child(2) {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.w__element:last-child {
  margin: 0 0 0 1.5em;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.w__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 800ms;
  transition: all 800ms ease-out 800ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.w__circle {
  width: 133px;
  height: 133px;
  background-color: #2e85aa;
  border-radius: 50%;
  margin: 0 auto;
}

.w__circle img {
  margin: 3.5em 0 0 0;
}

.w__element h3 {
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.3em 0 1em 0;
}
@media (max-width: 767px) {
  .w__element h3 {
    font-size: calc(17px + 1.7 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .w__element h3 {
    font-size: calc(17px + 1 * (100vw / 1115));
  }
}

.w__element p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  height: 75px;
  overflow: hidden;
}

.black {
  background-position: 100% 0;
  background-size: 50% 100%;
  background-color: #222222;
  background-repeat: no-repeat;
  background-image: url(/img/black.png);
  padding: 5em 0 7em 0;
  color: #ffffff;
  line-height: 24px;
  font-weight: 400;
}

.white {
  background-size: 50% 100%;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-image: url(/img/white.png);
  padding: 6.7em 0 7em 0;
  color: #222222;
  line-height: 24px;
  font-weight: 400;
}

.black__flex, .white__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.black__element {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 7em 0 0;
  opacity: 0;
}

.black__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.white__element {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 0.8em 0 5.5em;
  opacity: 0;
}

.white__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.black__element > p, .white__element > p {
  font-size: 13px;
}

.black__element h2, .white__element h2 {
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.2em 0 1em 0;
}
@media (max-width: 767px) {
  .black__element h2, .white__element h2 {
    font-size: calc(17px + 13.6 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .black__element h2, .white__element h2 {
    font-size: calc(17px + 8 * (100vw / 1115));
  }
}

.black__text, .white__text {
  font-size: 15px;
}

.black__text p, .white__text p {
  margin: 1.5em 0 1.5em 0;
}

.black__text p:first-child, .white__text p:first-child {
  margin: 0 0 1.5em 0;
}

.black__text p:last-child, .white__text p:last-child {
  margin: 1.5em 0 0 0;
  height: 50px;
  overflow: hidden;
}

.b {
  background-color: #ffffff;
  color: #222222;
  margin: 0 auto;
  text-align: center;
}

.b__header {
  padding: 5.5em 0 0 0;
  opacity: 0;
}

.b__header.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 100ms;
  transition: all 800ms ease-out 100ms;
}

.b__header p {
  font-family: "Roboto Condensed";
  opacity: 0.18;
  line-height: 210px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .b__header p {
    font-size: calc(148.32px + 168.096 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .b__header p {
    font-size: calc(148.32px + 98.88 * (100vw / 1115));
  }
}

.b__header h2 {
  margin: -3.6em 0 2.5em 0;
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .b__header h2 {
    font-size: calc(22.56px + 25.568 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .b__header h2 {
    font-size: calc(22.56px + 15.04 * (100vw / 1115));
  }
}

.b__subtitle {
  line-height: 37px;
  font-weight: 400;
  opacity: 0;
}
@media (max-width: 767px) {
  .b__subtitle {
    font-size: calc(18.06px + 20.468 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .b__subtitle {
    font-size: calc(18.06px + 12.04 * (100vw / 1115));
  }
}

.b__subtitle.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.b__flex {
  margin: 4.9em 0 6.7em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.b__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0.5em 0 0.5em;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.b__element:first-child {
  margin: 0 0.5em 0 0;
}

.b__element:nth-child(2) {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.b__element:last-child {
  margin: 0 0 0 0.5em;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.b__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 800ms;
  transition: all 800ms ease-out 800ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.b__element img {
  width: 250px;
  -webkit-transition: all 500ms ease-out 50ms;
  transition: all 500ms ease-out 50ms;
}

.b__element img:hover {
  -webkit-box-shadow: 0 0 10px #11749e;
          box-shadow: 0 0 10px #11749e;
  -webkit-transition: all 500ms ease-out 50ms;
  transition: all 500ms ease-out 50ms;
}

.b__element h4 {
  margin: 1.7em 0 0.4em 0;
  line-height: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
}
@media (max-width: 767px) {
  .b__element h4 {
    font-size: calc(17px + 1.7 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .b__element h4 {
    font-size: calc(17px + 1 * (100vw / 1115));
  }
}

.b__element p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  height: 145px;
  overflow: hidden;
}

.note {
  background-color: #11749e;
  padding: 7.3em 0 9.7em 0;
}

.note__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.note__element {
  margin: 0 4.8em 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(-7%, 0);
          transform: translate(-7%, 0);
}

.note__element:last-child {
  margin: 0 0 0 0;
  -webkit-transform: translate(7%, 0);
          transform: translate(7%, 0);
}

.note__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.note__element img {
  height: 69px;
  margin: 0.5em 2.3em 0 0;
}

.note__element p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  height: 100px;
  overflow: hidden;
}

.a {
  background-image: url(/img/a.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  padding: 6.3em 0 6em 0;
}

.a__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.a__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  opacity: 0;
  -webkit-transform: translate(7%, 0);
          transform: translate(7%, 0);
}

.a__element:first-child {
  margin: 0 10em 0 1em;
  -webkit-transform: translate(-7%, 0);
          transform: translate(-7%, 0);
}

.a__element:last-child {
  text-align: center;
  margin: 0 1.5em 0 0;
  -webkit-transform: translate(7%, 0);
          transform: translate(7%, 0);
}

.a__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.a__element h2 {
  line-height: 36px;
  text-transform: uppercase;
  margin: 4.5em 0 1em 0;
}
@media (max-width: 767px) {
  .a__element h2 {
    font-size: calc(17px + 13.6 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .a__element h2 {
    font-size: calc(17px + 8 * (100vw / 1115));
  }
}

.a__element > p {
  font-weight: 400;
  height: 100px;
  overflow: hidden;
}

.a__blue {
  margin: 2.8em 0 0 0;
}

.a__blue p {
  display: inline-block;
  text-transform: uppercase;
  background-color: #11749e;
  padding: 0.5em 8em 0.5em 1.5em;
  margin: 0.7em 0;
}

.a__blue p:nth-child(1) {
  padding: 0.5em 7.5em 0.5em 1.5em;
}

.a__blue p:nth-child(2) {
  padding: 0.5em 13em 0.5em 1.5em;
}

.a__blue p:nth-child(3) {
  padding: 0.5em 9em 0.5em 1.5em;
}

.a__element img {
  height: 625px;
}

.t {
  background-color: #ffffff;
  color: #222222;
  margin: 0 auto;
  text-align: center;
  padding: 3.7em 0 6.5em 0;
}

.t__header {
  opacity: 0;
}

.t__header.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 100ms;
  transition: all 800ms ease-out 100ms;
}

.t__header h2 {
  line-height: 45px;
  font-weight: 500;
  text-transform: uppercase;
  margin: -3.6em 0 0 0;
}
@media (max-width: 767px) {
  .t__header h2 {
    font-size: calc(22.56px + 25.568 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .t__header h2 {
    font-size: calc(22.56px + 15.04 * (100vw / 1115));
  }
}

.t__header p {
  opacity: 0.18;
  font-family: "Roboto Condensed";
  line-height: 210px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .t__header p {
    font-size: calc(148.32px + 168.096 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .t__header p {
    font-size: calc(148.32px + 98.88 * (100vw / 1115));
  }
}

.t__subtitle {
  line-height: 37px;
  font-weight: 400;
  margin: 4em 0 2em 0;
  opacity: 0;
}
@media (max-width: 767px) {
  .t__subtitle {
    font-size: calc(17px + 22.27 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .t__subtitle {
    font-size: calc(17px + 13.1 * (100vw / 1115));
  }
}

.t__subtitle.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.t__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.t__element {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.t__element:nth-child(2), .t__element:nth-child(4) {
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.t__element.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 800ms;
  transition: all 800ms ease-out 800ms;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.t__element img {
  height: 400px;
}

.t__element img:hover {
  -webkit-box-shadow: 0 0 10px #11749e;
          box-shadow: 0 0 10px #11749e;
  -webkit-transition: all 500ms ease-out 50ms;
  transition: all 500ms ease-out 50ms;
}

.t__name {
  background-color: #ffffff;
  padding: 1.3em 2em 0.5em 2em;
  margin: -3.5em 3em 0 3em;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.t__name h4 {
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #11749e;
  margin: 0em 0 0.1em 0;
}
@media (max-width: 767px) {
  .t__name h4 {
    font-size: calc(17px + 5.1 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .t__name h4 {
    font-size: calc(17px + 3 * (100vw / 1115));
  }
}

.t__name p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}

.c {
  background-image: url(/img/с.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: cover;
  padding: 8.5em 0 6.5em 0;
  color: #ffffff;
  position: relative;
}

.c::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.9) url("/img/c__gif.gif") center/50px no-repeat;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.c.__sending::after {
  opacity: 1;
  visibility: visible;
}

.c__header {
  text-align: center;
  opacity: 0;
}

.c__header.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.c__header p {
  opacity: 0.18;
  font-family: "Roboto Condensed";
  line-height: 210px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .c__header p {
    font-size: calc(148.32px + 168.096 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .c__header p {
    font-size: calc(148.32px + 98.88 * (100vw / 1115));
  }
}

.c__header h2 {
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin: -3.1em 0 3.9em 0;
}
@media (max-width: 767px) {
  .c__header h2 {
    font-size: calc(22.2px + 25.16 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .c__header h2 {
    font-size: calc(22.2px + 14.8 * (100vw / 1115));
  }
}

.c__form {
  font-size: 15px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
}

.c__form.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 800ms;
  transition: all 800ms ease-out 800ms;
}

.c__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 2em 0;
}

.c input {
  width: 361px;
  padding: 1.1em 2em 1.3em 2em;
  color: #ffffff;
}

.c textarea {
  width: 100%;
  height: 151px;
  padding: 1.1em 2em;
  color: #ffffff;
  resize: vertical;
}

.c input, .c textarea {
  background-color: rgba(128, 128, 128, 0);
  border: 1px solid #ffffff;
}

.c input:focus, .c textarea:focus {
  -webkit-box-shadow: 0 0 15px #2e85aa;
          box-shadow: 0 0 15px #2e85aa;
}

.c input._error, .c textarea._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

.c button {
  color: #ffffff;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #11749e;
  padding: 0.7em 2.4em 0.9em 2.4em;
  margin: 1.7em 0 0 0;
}
@media (max-width: 767px) {
  .c button {
    font-size: calc(17px + 11.9 * ((100vw - 320px) / 1115));
  }
}
@media (min-width: 767px) {
  .c button {
    font-size: calc(17px + 7 * (100vw / 1115));
  }
}

.c button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.c button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.location {
  opacity: 0;
}

.location.active {
  opacity: 1;
  -webkit-transition: all 800ms ease-out 300ms;
  transition: all 800ms ease-out 300ms;
}

.location iframe {
  width: 100%;
  height: 320px;
  filter: brightness(50%);
  -ms-filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
}

.footer {
  background-color: #222222;
  padding: 2.9em 0 2.3em 0;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__element {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@-webkit-keyframes up-down {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

@keyframes up-down {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 900px;
  }

  .header__menu {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
.menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon._act span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu__icon._act::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon._act::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu__body::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
  }

  .menu__body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #222222;
  }

  .menu__body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 110px;
    background-color: #f9f9fd;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    padding: 2em 0em;
    padding-left: calc(50% - 470px);
    padding-right: calc(50% - 470px);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body._act {
    left: 0;
  }

  .menu__body._act::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 110px;
    background-color: #222222;
    -webkit-box-shadow: 0 0 10px #222222;
            box-shadow: 0 0 10px #222222;
    z-index: 2;
  }

  .menu__list {
    font-family: "Myriad Pro";
    line-height: 1.2;
    font-weight: 400;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 85px 0 0 0;
  }
}
@media (max-width: 1200px) and (max-width: 767px) {
  .menu__list {
    font-size: calc(20px + 34 * ((100vw - 320px) / 1115));
  }
}
@media (max-width: 1200px) and (min-width: 767px) {
  .menu__list {
    font-size: calc(20px + 20 * (100vw / 1115));
  }
}
@media (max-width: 1200px) {
  .menu__list li {
    margin: 0.5em 0.5em;
  }
}
@media (max-width: 1200px) {
  .span:hover {
    color: #11749e;
    border-bottom: 6px solid transparent;
  }
}
@media (max-width: 1200px) {
  .exe {
    color: #11749e;
    border-bottom: 6px solid transparent;
  }
}
@media (max-width: 1200px) {
  .header__networks a {
    margin: 0 0.5em;
  }
}
@media (max-width: 1200px) {
  ._pc .menu__icon._act::after, ._pc .menu__icon._act::before, ._pc .pip._act {
    margin-left: -5px;
  }
}
@media (max-width: 1200px) {
  ._touch .menu__icon._act::after, ._touch .menu__icon._act::before, ._touch .pip._act {
    margin-left: 0px;
  }
}
@media (max-width: 1200px) {
  .header__line._act {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .w__element p {
    height: 93px;
  }
}
@media (max-width: 1200px) {
  .black__text p:last-child, .white__text p:last-child {
    height: 70px;
  }
}
@media (max-width: 1200px) {
  .b__flex, .t__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .b__element, .t__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}
@media (max-width: 1200px) {
  .b__element:nth-child(1), .b__element:nth-child(2), .t__element:nth-child(1), .t__element:nth-child(2) {
    margin-bottom: 4em;
  }
}
@media (max-width: 1200px) {
  .b__element p, .t__element p {
    width: 250px;
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .b__element p {
    height: 167px;
  }
}
@media (max-width: 1200px) {
  .t__name {
    margin: -3.2em auto 0 auto;
    width: 200px;
    padding: 1.3em 2em 0.5em 2em;
  }
}
@media (max-width: 1200px) {
  .t__name h4 {
    margin: 0em 1em 0.1em 1em;
  }
}
@media (max-width: 1200px) {
  .t__name p {
    margin-left: -50px;
  }
}
@media (max-width: 1200px) {
  .c__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  .c input {
    width: 900px;
    margin: 1em 0;
  }
}
@media (max-width: 1200px) {
  .c input:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .note__element {
    -webkit-transform: translate(-9%, 0);
            transform: translate(-9%, 0);
  }
}
@media (max-width: 1200px) {
  .note__element:last-child {
    -webkit-transform: translate(9%, 0);
            transform: translate(9%, 0);
  }
}
@media (max-width: 1200px) {
  .note__element.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media (max-width: 1200px) {
  .note__element p {
    height: 145px;
  }
}
@media (max-width: 1200px) {
  .a__element {
    -webkit-transform: translate(9%, 0);
            transform: translate(9%, 0);
  }
}
@media (max-width: 1200px) {
  .a__element:first-child {
    -webkit-transform: translate(-9%, 0);
            transform: translate(-9%, 0);
  }
}
@media (max-width: 1200px) {
  .a__element:last-child {
    -webkit-transform: translate(9%, 0);
            transform: translate(9%, 0);
  }
}
@media (max-width: 1200px) {
  .a__element.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media (max-width: 1200px) {
  .a__blue p:nth-child(1) {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }
}
@media (max-width: 1200px) {
  .a__blue p:nth-child(2) {
    padding: 0.5em 6.5em 0.5em 1.5em;
  }
}
@media (max-width: 1200px) {
  .a__blue p:nth-child(3) {
    padding: 0.5em 2em 0.5em 1.5em;
  }
}
@media (max-width: 1200px) {
  .a__element > p {
    height: 145px;
  }
}
@media (max-width: 990px) {
  .wrapper {
    width: 700px;
  }

  .menu__body {
    padding-left: calc(50% - 370px);
    padding-right: calc(50% - 370px);
  }

  .home__heading {
    font-size: 120px;
  }

  .home__subtitle {
    font-size: 20px;
  }

  .w__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .w__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    margin: 0;
  }

  .w__element:nth-child(1), .w__element:nth-child(2) {
    margin-bottom: 4.5em;
  }

  .w__element p {
    width: 250px;
    margin: 0 auto;
  }

  .w__element p {
    height: 75px;
  }

  .black {
    background-image: none;
  }

  .white {
    background-image: none;
  }

  .black__element {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 1em;
  }

  .black__element:last-child {
    display: none;
  }

  .white__element {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 1em;
  }

  .white__element:first-child {
    display: none;
  }

  .black__text p:last-child, .white__text p:last-child {
    height: 50px;
  }

  .b__element p {
    height: 167px;
  }

  .note__element {
    padding: 0 2em;
  }

  .note__element img {
    display: none;
  }

  .note__element p {
    height: 140px;
  }

  .a__element:first-child {
    margin: 0 1em 0 1em;
  }

  .a__blue p:nth-child(1) {
    padding: 0.5em 2.1em 0.5em 1.5em;
  }

  .a__blue p:nth-child(2) {
    padding: 0.5em 5.8em 0.5em 1.5em;
  }

  .a__blue p:nth-child(3) {
    padding: 0.5em 0em 0.5em 1.5em;
  }

  .a__element > p {
    height: 165px;
  }

  .c__header h2 {
    line-height: 1.5em;
    margin: -3.7em 0 3.9em 0;
  }

  .c input {
    width: 700px;
  }
}
@media (max-width: 770px) {
  .wrapper {
    width: 500px;
  }

  .menu__body {
    padding-left: calc(50% - 265px);
    padding-right: calc(50% - 265px);
  }

  .home__heading {
    font-size: 85px;
  }

  .home__subtitle {
    font-size: 20px;
  }

  .w__header h2 {
    margin: -4.7em 0 0.5em 0;
  }

  .w__element, .b__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .w__element:nth-child(3), .b__element:nth-child(3) {
    margin-bottom: 4.5em;
  }

  .w__element:first-child {
    margin: 0;
    margin-bottom: 4.5em;
  }

  .w__element:last-child {
    margin: 0;
  }

  .b__header h2 {
    margin: -4em 0 3em 0;
  }

  .b__element:first-child {
    margin: 0 0.5em 4.5em 0.5em;
  }

  .b__element:last-child {
    margin: 0 0.5em 0em 0.5em;
  }

  .b__element:nth-child(2) {
    margin: 0 0.5em 4.5em 0.5em;
  }

  .note__flex, .a__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .note__element {
    margin: 0;
    padding: 0 1em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .note__element, .a__element {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .note__element:first-child {
    margin: 0 0 3em 0;
  }

  .note__element:last-child, .a__element:last-child {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .note__element.active, .a__element.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .note__element p {
    height: 100px;
  }

  .a {
    padding: 0em 0 3em 0;
  }

  .a__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .a__element img {
    display: none;
  }

  .a__element:first-child {
    margin: 0 1em 5em 1em;
  }

  .a__blue p:nth-child(1) {
    padding: 0.5em 3.7em 0.5em 1.5em;
  }

  .a__blue p:nth-child(2) {
    padding: 0.5em 7.3em 0.5em 1.5em;
  }

  .a__blue p:nth-child(3) {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }

  .t__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .c__header h2 {
    margin: -4em 0 4em 0;
  }

  .c input {
    width: 500px;
  }

  .home__heading, .home__subtitle, .home__down, .w__element, .w__element:nth-child(2), .w__element:last-child, .b__element, .b__element:nth-child(2), .b__element:last-child, .note__element, .note__element:last-child, .a__element, .a__element:first-child, .a__element:last-child, .t__element, .t__element:nth-child(2), .t__element:nth-child(4) {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }

  .t__element:nth-child(3) {
    margin-bottom: 4em;
  }
}
@media (max-width: 550px) {
  .wrapper {
    width: 400px;
  }

  .menu__body {
    padding-left: calc(50% - 210px);
    padding-right: calc(50% - 210px);
  }

  .home__heading {
    font-size: 65px;
  }

  .home__subtitle {
    font-size: 17px;
  }

  .w__header h2 {
    margin: -5.5em 0 0em 0;
  }

  .black__text p:last-child, .white__text p:last-child {
    height: 75px;
  }

  .b__header h2 {
    margin: -4.7em 0 3em 0;
  }

  .note__element {
    padding: 0 2em;
  }

  .note__element p {
    height: 145px;
  }

  .a__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }

  .a__element > p {
    height: 145px;
  }

  .t__header h2 {
    margin: -4.6em 0 3.5em 0;
  }

  .c__header h2 {
    margin: -4.7em 0 4em 0;
  }

  .c input {
    width: 400px;
  }

  .footer__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer__element {
    margin: 0 0 1em 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 450px) {
  .wrapper {
    width: 300px;
  }

  .menu__body {
    padding-left: calc(50% - 160px);
    padding-right: calc(50% - 160px);
  }

  .home__heading {
    font-size: 55px;
  }

  .home__subtitle {
    font-size: 15px;
  }

  .w__header h2 {
    margin: -6em 0 0em 0;
  }

  .black__text p:last-child, .white__text p:last-child {
    height: 100px;
  }

  .b__header h2 {
    margin: -5.5em 0 3.7em 0;
  }

  .note__element {
    padding: 0 1em;
  }

  .note__element p {
    height: 165px;
  }

  .a__element {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .a__element > p {
    height: 185px;
  }

  .a__blue p:nth-child(1) {
    padding: 0.5em 1.9em 0.5em 1.5em;
  }

  .a__blue p:nth-child(2) {
    padding: 0.5em 5.6em 0.5em 1.5em;
  }

  .a__blue p:nth-child(3) {
    padding: 0.5em 1.5em 0.5em 1.5em;
  }

  .t__header h2 {
    margin: -5em 0 3.5em 0;
  }

  .c__header h2 {
    margin: -5em 0 4em 0;
  }

  .c input {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .wrapper {
    width: 250px;
  }

  .menu__body {
    padding-left: calc(50% - 135px);
    padding-right: calc(50% - 135px);
  }

  .home__heading {
    font-size: 40px;
  }

  .home__subtitle {
    font-size: 12px;
  }

  .w__header h2 {
    margin: -6.5em 0 0em 0;
  }

  .black__text p:last-child, .white__text p:last-child {
    height: 117px;
  }

  .note__element p {
    height: 210px;
  }

  .a__element > p {
    height: 210px;
  }

  .c input {
    width: 250px;
  }
}